.text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

.text-clamp-shop {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

/* CSS to hide scrollbar but keep scrolling functionality */
.cart-items-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.cart-items-container {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide spinner controls for number inputs */
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}